
  html,
  body {
  position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  /* Bottom right text */
  .text-block {
    position: fixed;
    top: 20px;
    right: 620px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 7pt;
  }

audio {
  z-index: 1;
  position:fixed;
  top: -10%;
  left: -10%;

}

  #right {
    left: 50%;
    width: 50%;
  }

  #left {
    left: 0%;
    width: 50%;
  }


  .swiper-container {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    background-color: black;
    width: 50%;
  }

  .swiper-container2 {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0%;
    background-color: black;
    width: 50%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 20;
    object-fit: cover;
  }

  .swiper-slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  /* Container holding the image and the text */
.container {
  position: relative;
}
